@using Microsoft.AspNet.Identity;
@model IEnumerable<SocialNet.ViewModels.UserStatus>

<div class="New-status">
    @using (Html.BeginForm("Create", "UserStatus"))
    {
        @Html.Action("Create", "UserStatus")
    }
</div>
@foreach (var u in Model)
{
    
    <div class="StatusForm">
            <p style="color: grey;"> @u.Author | @u.StatusDate | @u.Id</p>
            <p>@u.StatusBody</p>
    </div>
}

