@using SocialNet.Models
@model LoginViewModel
@{
    ViewBag.Title = "Social Web! - Login";
}
<div class="login-page">
    <div id="container">
        <div class="welcome">
            <div class="reglog-heading">
                <p>Welcome!</p>
            </div>
            <div class="para-welcome">
                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
            </div>
        </div>
        <div class="logORreg">
            <div class="Log-box">
                <form>
                    <div class="log-box-2">
                        <section id="loginForm">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="reglog-heading">
                                    <p>Login</p>
                                </div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br style="font-size: 30px;"/>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        <p>
                                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="submit" value="Log in" class="btn btn-default" formmethod="post" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </section>
                    </div>
                </form>
            </div>
            <div class="reg-box-sm">
                <div class="reglog-heading">
                    <p>Dont have an account?</p>
                </div>
                <form action="~/Account/Register">
                    <div class="form-group mycol">
                        <input type="submit" class="btn-lg btn-info" value="Register!" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>