@model SocialNet.ViewModels.ConnectionViewModel

@{
    ViewBag.Title = "Profile";
}

<body>
    @{Html.RenderPartial("LoginBar", Model);}
    <div class="main-container">
            <div class="wall-posts">
                @{
                    var getfriends = Model.ConnectionFriendlist;

                    foreach (var photo in Model.ConnectionPhotos)
                    {
                        foreach (var usr in getfriends)
                        {
                            if (photo.UserName == usr.FriendName)
                            {
                                <div class="photobox">
                                    <p>Photo added on @photo.PhotoDate</p>
                                    <a href="@photo.PhotoUrl"><div class="photo-container" style="background-image:url(@photo.PhotoUrl)"></div></a>
                                    <div class="photo-caption">@photo.PhotoCaption</div>
                                </div>
                            }
                        }

                    }
                }
            </div>
    </div>
</body>
@Html.Partial("RightBar", Model)
