@model SocialNet.ViewModels.ConnectionViewModel


<body>
    @{Html.RenderPartial("LoginBar", Model);}
    @{Html.RenderPartial("ProfileBar", Model);}
    <div class="Profile-wall">
        @if (Model.ConnectionUserForm.UserName == User.Identity.Name)
        {
            <div class="add-photo">
                @Html.ActionLink("Upload a new photo", "Create", "Photos")
                <hr />
            </div>
        }
        @{var check = 0;}
        @foreach (var photo in Model.ConnectionPhotos)
        {
            if (photo.UserName == Model.ConnectionUserForm.UserName)
            {
                <div class="photobox">
                    <p>Photo added on @photo.PhotoDate</p>
                    <a href="@photo.PhotoUrl"><div class="photo-container" style="background-image:url(@photo.PhotoUrl)"></div></a>
                    <div class="photo-caption">@photo.PhotoCaption</div>
                </div>
                check++;
            }
        }
        @if (check == 0)
        {
            if (Model.ConnectionUserForm.UserName == User.Identity.Name)
            {
                <div class="no-photos">
                    <p>You dont have any photos!</p>
                </div>
            }
            else
            {
                <div class="no-photos">
                    <p>This person doesn't have any photos to display.</p>
                </div>
            }
        }
    </div>
    @Html.Partial("RightBar", Model)
</body>

