@model IEnumerable<SocialNet.ViewModels.Groups>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupDateCreated)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupDateCreated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.GroupID }) |
                @Html.ActionLink("Details", "Details", new { id=item.GroupID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.GroupID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
